body {
    font-family: 'Playfair Display', serif;
    background-image: url("/static/img/grey-bg-img.png");
}

.row, .card {
    background-color: transparent;
}

header {
    padding-top: 10px;
}

#fixed-navbar {
    z-index: 10;
    padding-top: 3px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 100px;
}

.header-div {
    display: inline-block;
}

.header2 {
    padding-left: 170px;
}

.header3 {
    padding-left: 70px;
}

.header-top-row {
    padding-left: 300px;
}

.header-copy {
    text-align: center;
}

.time {
    padding-left: 50px;
    color: #406edb;
    font-weight: 600;
}

#datetime {
    color: black;
    padding-left: 30px;
}

#social-list {
    float: left;
    padding-left: 30px;
}

.social li {
    list-style: none;
    display: inline;
}

.border-bottom {
    display: inline;
}

.logo {
    font-size: 4em;
}

.second-header {
    text-align: center;
    color: black;
}

#header-tagline {
    display: inline;
}

.navbar {
    display: block;
    justify-content: center;
}

.nav-link:focus, .nav-link:hover {
    text-decoration: none;
    background-color: black;
    border-style: groove;
    border: 2px solid #007bff;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-weight: 600;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bg-navbar {
    background-color: transparent;
}

.navbar-expand-lg {
    justify-content: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 3rem;
}

.navbar-nav li {
    display: inline-block;
}

h8 {
    font-size: 13px;
}

.row-headline {
    display: flex;
}

.btn-outline-primary {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 7px;
}

.grid-container {
    display: grid;
    grid-gap: 2px;
    padding: 2px;
}

.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    background-color: lightyellow;
    border-color: black;
}

.item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2 {
    grid-column: 3/ span 2;
    grid-row: 1 / span 3;
}

.item3 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.news-text {
    font-size: 13px;
}

.carousel-item {
    padding-top: 7px;
}

.image {
    height: auto;
    width: 600px;
}

h3 {
    font-weight: 600;
}

.post-type {
    font-size: 2.5em;
    text-align: center;
    padding-top: 7px;
}

/*.col-md-12{

}*/
.header-row {
    float: left;
}

.col-md-4 {
    align-self: center;
}

.no-border {
    border-style: none;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.bottom-logo {
    text-align: center;
}

.bottom-social {
    align-content: center;
}

.bottom-social-item {
    padding-left: 30px;
}

.copyright {
    padding-left: 300px;
    font-weight: 650;
}

h5, .card-title {
    margin-bottom: 0px;
}

.align-center {
    text-align: center;
}

.card-custom {
    margin-left: 50px;
    border-style: none;
}